* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #E5E5E5;
    padding: 16.5px 0;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

menu {
    display: flex;
    justify-content: center;
}

.menu__link {
    list-style-type: none;
}

.menu__link a {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color:black;    
    padding: 0 15px;
    transition: 0.2s;
}

.menu__link a:hover {
    color:rgb(57 196 92);
}

.contact {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.contact__logo {
    display: flex;
    align-items: center;
}

.contact__direction {
    text-decoration: none;
    font-size: 0;
    color: #000000;
}

.contact__logo h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #66C05D;
    padding-left: 20px;
}

.return {
    display: flex;
    align-items: center;
}

.return__direction {
    text-decoration: none;
    font-size: 0;
    color: #000000;
}

.return__number {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-right: 40px;
}

.return__button-call {
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #66C05D;
    border-radius: 40px;
    background: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
    padding: 11px 24px;
}

.return__button-call:hover {
    border: 2px solid #66C05D;
    background:  #66C05D;
    color:  #FFFFFF;
}

.return__button-call:active, 
.return__button-call:focus {
    outline: none;
  }

hr {
    border: none;
    background-color: #EFEFEF;
    height: 1px;
}

.service {
    padding: 29.5px 0;
    display: flex;
    justify-content: center;
}

.service__link {
    list-style-type: none;
}

.service__link a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color:black;    
    padding: 0 20px;
    transition: 0.2s;
}

.service__link a:hover {
    color:rgb(57 196 92);
}

.main {
    background: #66C05D;
    overflow: hidden;
}

.main__wrap {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    padding: 192px 0 193px 0;
}

.main__wrap::after {
    content: "";
    position: absolute;
    background: url(img/bg-fill.svg);
    display: block;
    top: 0;
    right: -70px;
    width: 859px;
    height: 604px;
    transition: 1.6s;
}

.main__wrap:hover:after {
    transform: scale(1.1);
}

.main__wrap::before {
    content: "";
    position: absolute;
    background: url(img/bg-inside.svg) no-repeat;
    display: block;
    top: 0;
    right: 21px;
    width: 677px;
    height: 604px;
    transition: 1s;
}

.main__wrap:hover:before {
    transform: scale(1.1);
}

.main__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    max-width: 308px;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.main__sub-title {
    font-size: 14px;
    line-height: 20px;
    max-width: 308px;
    width: 308px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.main__button-call {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
    padding: 10px 44.5px;
}

.main__button-call:hover {
    border: 2px solid #FFFFFF;
    background:  #FFFFFF;
    color:  #000000;
}

.main__button-call:active, 
.main__button-call:focus {
    outline: none;
  }

.main__image {
    position: absolute;
    top: 20px;
    right: 67px;
    z-index: 2;
    transition: 0.7s;
}

.main__image:hover {
    transform: scale(1.1);
}

.offer {
    background: #EFEFEF;
    padding: 68px 0 132px 0;
}

.offer__special {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.offer__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 11px;
}

.offer__image {
    margin-right: 45px;
}

.offer__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 212px;
    grid-gap: 100px 30px;
}

.offer__item {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    max-width: 255px;
    width: 100%;
    padding: 25px 0;
}

.offer__item-image {
    margin-bottom: 19px;
}

.offer__item p{
    width: 195px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 14px;
}

.offer__item span {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.offer__button-bye {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    border: 2px solid #66C05D;
    border-radius: 40px;
    background: #66C05D;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    padding: 8px 37px;
}

.offer__button-bye:hover {
    border: 2px solid #66C05D;
    background:  transparent;
    color:  #66C05D;
}

.offer__button-bye:active, 
.offer__button-bye:focus {
    outline: none;
  }

.offer__subscribe {
    display: flex;  
    justify-content: space-between;
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #66C05D;
    max-width: 540px;
    width: 100%;
    padding: 35px 40px;
}

.title-on-green {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 19px;
}

.text-on-green {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    width: 100%;
    max-width: 231px;
    margin-bottom: 27px;
}

.offer__form input{
    background: #FFFFFF;
    border-radius: 30px;
    border-style: none;
    padding: 9px 25px;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    max-width: 225px;
    width: 100%;
}

.offer__form input:active, 
.offer__form input:focus {
    outline: none;
  }

.offer__subscribe-image {
    padding-right: 5px;
}

.offer__map { 
    grid-column: 3/5;
    grid-row: 2/3;
    background-color: #66C05D;
    max-width: 540px;
    width: 100%;
    padding: 35px 40px;
}

.offer__map-text {
    width: 100%;
    max-width: 141px;
}

.offer__button-map {
    font-size: 14px;
    line-height: 16px;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    background: #66C05D;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    padding: 7px 27.5px;
}

.offer__button-map:hover {
    border: 2px solid #ffffff;
    background:  #ffffff;
    color:  #000000;
}

.offer__button-map:active, 
.offer__button-map:focus {
    outline: none;
}

.contact-bottom {
    padding: 38px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-bottom__list {
    list-style-type: none;
    display: flex;
}

.contact-bottom__item {
    border: 2px solid #66C05D;   
    border-radius: 50px;
    width: 45px;
    height: 45px;
    margin-right: 20px;
}

.contact-bottom__item:nth-child(3) {
    margin-right: 16px;
}

.contact-bottom__social-tube {
    display: block;
    background: url(img/tube-img.svg) no-repeat center center;
    width: 40px;
    height: 40px;
}

.contact-bottom__social-vk {
    display: block;
    background: url(img/vk-img.svg) no-repeat center center;
    width: 40px;
    height: 40px;
}

.contact-bottom__social-fb {
    display: block;
    background: url(img/fb-img.svg) no-repeat center center;
    width: 40px;
    height: 40px;
}

.contact-bottom__social-inst {
    display: block;
    background: url(img/inst-img.svg) no-repeat center center;
    width: 40px;
    height: 40px;
}

.contact-bottom__adress {
    font-size: 14px;
    line-height: 16px;
    margin-left: 82px;
}

footer {
    background: #EFEFEF;
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.copyright__text {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    text-decoration: none;
}